@model Support.GenreTypeLanguageModel

@{
    ViewData[ "Title" ] = "Admin - Create Player Types";
}
<main class="home-section">
    <div class="text">
        <h1>Player Types</h1>
        <h2>@ViewData[ "TitleCreate" ]</h2>

        <section class="Createform">
            <form asp-controller="AdminPlayerType" asp-action="Create" method="post" enctype="multipart/form-data">
                <partial name="_Error" />

                <div>
                    <div>
                        <label asp-for="name" class="required">@ViewData[ "fName" ]:</label>
                        <input required asp-for="name" placeholder="@ViewData[ "fName" ]" />
                    </div>
                    <div>
                        <label asp-for="language" class="required">@ViewData[ "fLanguage" ]:</label>
                        <select asp-for="language" required>
                            <option value="ENG">English</option>
                            <option value="ESP">Español</option>
                        </select>
                    </div>
                </div>

                <div>
                    <div>
                        <button type="submit" class="mainButton">@ViewData[ "ButtonCreate" ]</button>
                    </div>

                </div>

            </form>
        </section>


    </div>
</main>