@model Support.AdminLogIn;
@{
    ViewData[ "Title" ] = "Admin - Login";
}

<header class="AdminHeader">
    <div class="banner">
        <img src="~/img/Banner/Logo.png" alt="Logo" />
        <p>Gamer Nest</p>
    </div>
    <div class="flags">
        <a asp-controller="MethodBase" asp-action="ChangeLanguage" asp-route-lang="ENG" asp-route-cont="Admin" asp-route-act="LogInForm">
            <span class="fi fi-gb fis"></span>
        </a>
        
        <a asp-controller="MethodBase" asp-action="ChangeLanguage" asp-route-lang="ESP" asp-route-cont="Admin" asp-route-act="LogInForm">
            <span class="fi fi-es fis"></span>
        </a>
    </div>
</header>

<main class="AdminLogIn">
    <h1>@ViewData["AdminLoginTitle"]</h1>
    <section>
        <div class="form">
            <form asp-controller="Admin" asp-action="LogIn" method="post">
                <partial name="_Error" />

                <div>
                    <label asp-for="email">@ViewData["AdminLoginEmail"]:</label>
                    <input asp-for="email" placeholder="@ViewData["AdminLoginEmail"]" />
                </div>
                <div>
                    <label asp-for="email">@ViewData["AdminLoginPassword"]:</label>
                    <input asp-for="password" type="password" placeholder="@ViewData["AdminLoginPassword"]" />
                </div>
                <button type="submit" class="mainButton">@ViewData["AdminLoginButtonAccess"]</button>
            </form>
        </div>
    </section>
    <a asp-controller="Article" asp-action="Index">
        <i class="fa-solid fa-arrow-left"></i>
        <span>@ViewData["AdminLoginButtonReturn"]</span>
    </a>
</main>