@model Support.ModelList
@{
    ViewData[ "Title" ] = "All Games";
}

<partial name="_NormalMenu" />

<main class="home-user">
    <div class="text">
        <h1>@ViewData[ "TitleFav" ]</h1>
        <div class="NormalCenter">
            <section class="filter">
                <form asp-controller="Game" asp-action="FavGames" method="post">
                    <div>
                        <select id="orderBy" name="orderBy">
                            <option value="title">@ViewData[ "OrderBy" ]</option>
                            <option value="title">@ViewData[ "tTitle" ]</option>
                            <option value="platform">@ViewData[ "Platform" ]</option>
                        </select>
                    </div>

                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="title" name="title" placeholder="@ViewData[ "SearchGameTitle" ]">
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <select name="idPlatform" id="idPlatform" class="select2Single marginBotom">
                                <option>@ViewData[ "SearchPlatform" ]</option>
                                @foreach ( var item in Model.platformList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <input class="filtButton" type="submit" value="@ViewData[ "Filter" ]">
                    </div>
                </form>
            </section>
        </div>

        <section class="AllGames">
            
            @foreach ( var item in Model.gameList )
            {
                <div>
                    <a class="aGame" asp-controller="Game" asp-action="SeeGame" asp-route-id="@item.id">
                        <div class="cardGame">
                            <div class="img">
                                <img src="@item.cover" alt="Cover" />
                            </div>
                            <div class="info">
                                <div class="icons">
                                    <div class="platform">
                                        @Html.Raw(item.platformIcon)
                                    </div>
                                </div>
                                <div class="titAndSub">
                                    <div class="title">
                                        @Html.Raw(item.title)
                                    </div>
                                    @if ( !string.IsNullOrEmpty( item.subtitle ) )
                                    {
                                        <div class="subtitle">
                                            @item.subtitle
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                    @if ( ViewData[ "UserEmail" ].ToString() != "no" )
                    {
                        <div class="favButton">
                            <div>
                                @if ( item.isFav )
                                {
                                    <a class="isFav" asp-controller="Game" asp-action="GameIsNotFav" asp-route-idGame="@item.id" asp-route-isFav="true">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="isNotFav" asp-controller="Game" asp-action="GameIsFav" asp-route-idGame="@item.id" asp-route-isFav="true">
                                        <i class="fa-solid fa-heart-crack"></i>
                                    </a>
                                }
                            </div>
                            
                        </div>
                    }
                </div>
            }

        </section>

        <section class="pagination">
            <div>
                @if ( Model.CurrentPage > 1 )
                {
                    <!-- Previous Page -->
                    <a asp-controller="Game" asp-action="FavGames"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-language="@ViewBag.FormData.language"
                   asp-route-user="@ViewBag.FormData.user"
                   asp-route-idArticle="@ViewBag.FormData.idArticle"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-title="@ViewBag.FormData.title"
                   asp-route-subtitle="@ViewBag.FormData.subtitle"
                   asp-route-subtitle="@ViewBag.FormData.idPlatform"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                        @ViewData[ "ButtonPrevious" ]
                    </a>
                }

                @if ( Model.CurrentPage < Math.Ceiling( (double) Model.TotalItems / Model.PageSize ) )
                {
                    <!-- Next Page -->
                    <a asp-controller="Game" asp-action="FavGames"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-language="@ViewBag.FormData.language"
                   asp-route-user="@ViewBag.FormData.user"
                   asp-route-idArticle="@ViewBag.FormData.idArticle"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-title="@ViewBag.FormData.title"
                   asp-route-subtitle="@ViewBag.FormData.subtitle"
                   asp-route-subtitle="@ViewBag.FormData.idPlatform"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                        @ViewData[ "ButtonNext" ]
                    </a>
                }
            </div>
            <div>
                <p>
                    @ViewData[ "Page" ] @Model.CurrentPage @ViewData[ "Of" ] @Math.Ceiling((double)Model.TotalItems / Model.PageSize) (@Model.articleList?.Count @ViewData[ "OutOf" ] @Model.TotalItems)
                </p>
            </div>
        </section>
    </div>
</main>

<partial name="_Footer" />