@model Support.UserModel

@{
    ViewData[ "Title" ] = "Admin - Create Users";
}

<main class="home-section">
    <div class="text">
        <h1>Users</h1>
        <h2>@ViewData[ "TitleCreate" ]</h2>

        <section class="Createform">
            <form asp-controller="AdminUser" asp-action="Create" method="post" enctype="multipart/form-data">
                <partial name="_Error" />

                <div>
                    <div>
                        <label asp-for="username" class="required">@ViewData["fUsername"]</label>
                        <input required asp-for="username" placeholder="@ViewData["fUsername"]" />
                    </div>
                </div>

                <div>
                    <div>
                        <label asp-for="password" class="required">@ViewData["fPassword"]:</label>
                        <input required asp-for="password" type="password" placeholder="@ViewData["fPassword"]" />
                    </div>
                    <div>
                        <label asp-for="email" class="required">@ViewData["fEmail"]:</label>
                        <input required asp-for="email" placeholder="@ViewData["fEmail"]" />
                    </div>
                </div>

                <div>
                    <div>
                        <label asp-for="avatar">@ViewData["fAvatar"]:</label>
                        <input asp-for="avatar" type="file" />
                    </div>
                    <div>
                        <label asp-for="preferedLanguage" class="required">@ViewData["fPrefLanguage"]:</label>
                        <select asp-for="preferedLanguage" required>
                            <option value="ENG">English</option>
                            <option value="ESP">Español</option>
                        </select>
                    </div>
                </div>
                
                <div>
                    <div>
                        <button type="submit" class="mainButton">@ViewData[ "ButtonCreate" ]</button>
                    </div>
                    
                </div>

            </form>
        </section>


    </div>
</main>