@model Support.UpdateUserModel

@{
    ViewData[ "Title" ] = "Admin - Update Users";
}

<main class="home-section">
    <div class="text">
        <h1>Users</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        @if (ViewData["AdminType"].ToString() == "Admin")
        {
            <section class="Createform">
                <form asp-controller="AdminUser" asp-action="Update" method="post" enctype="multipart/form-data">
                    <partial name="_Error" />

                    <div>
                        <div>
                            <label asp-for="id">@ViewData["fId"]:</label>
                            <input asp-for="id" placeholder="@ViewData["fId"]" readonly />
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="username">@ViewData["fUsername"]</label>
                            <input asp-for="username" placeholder="@ViewData["fUsername"]" />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="password">@ViewData["fPassword"]:</label>
                            <input asp-for="password" type="password" placeholder="@ViewData["fPassword"]" />
                        </div>
                        <div>
                            <label asp-for="email">@ViewData["fEmail"]:</label>
                            <input asp-for="email" placeholder="@ViewData["fEmail"]" />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="avatar">@ViewData["fAvatar"]:</label>
                            <input asp-for="avatar" type="file" />
                        </div>
                        <div>
                            <label asp-for="preferedLanguage">@ViewData["fPrefLanguage"]:</label>
                            <select asp-for="preferedLanguage">
                                <option value="ENG">English</option>
                                <option value="ESP">Español</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="birthday">@ViewData["fBirthday"]:</label>
                            <input asp-for="birthday" type="date" />
                        </div>
                    </div>

                    <div>
                        <div>
                                <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                        </div>

                    </div>

                </form>
            </section>
        }

    </div>
</main>