@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Users";
}

<main class="home-section">
    <div class="text">
        <h1>Users</h1>

        <h3>@ViewData[ "Description" ]</h3>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="filter">
                <h4>@ViewData[ "FilterTitle" ]:</h4>
                <form asp-controller="AdminUser" asp-action="Users" method="post">
                    @if ( Model.userList?.Count > 0 )
                    {
                        <div>
                            <select id="orderBy" name="orderBy">
                                <option value="id">@ViewData[ "fOrderBy" ]</option>
                                <option value="id">@ViewData[ "tId" ]</option>
                                <option value="username">@ViewData[ "tUsername" ]</option>
                                <option value="email">@ViewData[ "tEmail" ]</option>
                            </select>
                        </div>
                    }
                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="number" id="id" name="id"  placeholder="@ViewData[ "fSearchId" ]">
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="username" name="username"  placeholder="@ViewData[ "fSearchUsername" ]">
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="email" name="email"  placeholder="@ViewData[ "fSearchEmail" ]">
                        </div>
                    </div>
                    <div>
                        <input class="filtButton" type="submit" value="@ViewData[ "ButtonFilter" ]">
                    </div>


                </form>
            </section>

            <section class="create">
                <a asp-action="CreateForm" asp-controller="AdminUser">
                    <i class="fa-solid fa-plus"></i>
                    <span>@ViewData[ "ButtonNew" ]</span>
                </a>
            </section>

            <section class="adminTable">
                @if ( Model.userList?.Count > 0 )
                {
                    <table>
                        <tr>
                            <th>@ViewData[ "Actions" ]</th>
                            <th>@ViewData[ "tId" ]</th>
                            <th>@ViewData[ "tUsername" ]</th>
                            <th>@ViewData[ "tEmail" ]</th>
                            <th>@ViewData[ "tAvatar" ]</th>
                            <th>@ViewData[ "tPrefLanguage" ]</th>
                            <th>@ViewData[ "tBirthday" ]</th>
                            <th>@ViewData[ "tCreationDate" ]</th>
                            <th>@ViewData[ "tFavGame" ]</th>
                            <th>@ViewData[ "tScoredGame" ]</th>
                        </tr>
                        @foreach ( var item in Model.userList )
                        {
                            <tr>
                                <td>
                                    <!-- Delete User -->
                                    <a id="deleteAction_@item.id" class="delete-action" onclick="deleteModal(@item.id, 'AdminUser')">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>

                                    <!-- Edit User -->
                                    <a asp-controller="AdminUser" asp-action="UpdateForm" asp-route-id="@item.id">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>

                                    <!-- Modal -->
                                    <div id="confirmationModal_@item.id" class="modal">
                                        <div class="modal-content">
                                            <h2>@ViewData[ "ModalTitle" ]</h2>
                                            <p>@ViewData[ "ModalText" ]: @item.id?</p>
                                            <div class="modal-actions">
                                                <button id="confirmBtn_@item.id" asp-controller="AdminUser" asp-action="Delete" asp-route-id="@item.id">@ViewData[ "ModalButtonDelete" ]</button>
                                                <button id="cancelBtn_@item.id">@ViewData[ "ModalButtonCancelar" ]</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>@item.id</td>
                                <td>@item.username</td>
                                <td>@item.email</td>
                                <td><img class="image-cell" src="@item.avatar" alt="avatar"></td>
                                <td>
                                    @if ( item.preferedLanguage == "ENG" )
                                    {
                                        <span class="fi fi-gb fis"></span>
                                    }
                                    else if ( item.preferedLanguage == "ESP" )
                                    {
                                        <span class="fi fi-es fis"></span>
                                    }
                                </td>
                                <td>@item.birthday</td>
                                <td>@item.creationDate</td>
                                <td>
                                    <!-- Fav Games -->
                                    <a asp-controller="AdminGame" asp-action="Games" asp-route-user="@item.username">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <!-- Scored Games -->
                                    <a asp-controller="AdminGame" asp-action="Games" asp-route-user="@item.username" asp-route-scored="true">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <h4>@ViewData[ "NoData" ]</h4>
                }
            </section>

            <section class="pagination">
                <div>
                    @if ( Model.CurrentPage > 1 )
                    {
                        <!-- Previous Page -->
                        <a asp-controller="AdminUser" asp-action="Users"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-name="@ViewBag.FormData.username"
                   asp-route-email="@ViewBag.FormData.email"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                            @ViewData[ "ButtonPrevious" ]
                        </a>
                    }

                    @if ( Model.CurrentPage < Math.Ceiling( (double) Model.TotalItems / Model.PageSize ) )
                    {
                        <!-- Next Page -->
                        <a asp-controller="AdminUser" asp-action="Users"
                   asp-route-page="@(Model.CurrentPage + 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-name="@ViewBag.FormData.username"
                   asp-route-email="@ViewBag.FormData.email"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                            @ViewData[ "ButtonNext" ]
                        </a>
                    }
                </div>
                <div>
                    <p>
                        @ViewData[ "Page" ] @Model.CurrentPage @ViewData[ "Of" ] @Math.Ceiling((double)Model.TotalItems / Model.PageSize) (@Model.userList?.Count @ViewData[ "OutOf" ] @Model.TotalItems)
                    </p>
                </div>
            </section>
        }

    </div>
</main>