@model Support.UserPageModel
@{
    ViewData[ "Title" ] = "UserPage";
}

<partial name="_NormalMenu" />

<main class="home-user">
    <div class="text">
        <h1>@ViewData["Welcome"]</h1>
        <h2>@ViewData[ "UserUsername" ]</h2>

        @if ( ViewBag.SuccessMessage != null )
        {
            <div class="alert alert-success">@ViewBag.SuccessMessage</div>
        }

        <partial name="_Error" />

        <section class="userpageConfig">
            <section class="firstRow">
                <div class="seeFav">
                    <h3>@ViewData[ "SeeFav" ]</h3>
                    <div>
                        <a asp-controller="Game" asp-action="FavGames">
                            @ViewData[ "SeeFav" ]
                        </a>
                    </div>

                </div>
                <div class="changeAvatar">
                    <h3>@ViewData[ "ChangeAvatar" ]</h3>
                    <form class="formUserPage" asp-controller="User" asp-action="ChangeAvatar" method="post" enctype="multipart/form class=" formUserPage"-data">
                        <div>
                            <label asp-for="avatar">@ViewData[ "ChangeAvatar" ]:</label>
                            <input asp-for="avatar" type="file" />
                        </div>
                        <button type="submit" class="mainButton">@ViewData[ "ChangeButton" ]</button>
                    </form>
                </div>
            </section>
            <section class="secondRow">
                <div class="changePreferedLanguage">
                    <h3>@ViewData[ "ChangePreferedLanguage" ]</h3>
                    <form class="formUserPage" asp-controller="User" asp-action="ChangePreferedLanguage" method="post">
                        <div>
                            <label asp-for="preferedLanguage">@ViewData[ "ChangePreferedLanguage" ]:</label>
                            <select asp-for="preferedLanguage">
                                <option value="ENG">English</option>
                                <option value="ESP">Español</option>
                            </select>
                        </div>
                        <button type="submit" class="mainButton">@ViewData[ "ChangeButton" ]</button>
                    </form>
                </div>
                <div class="changeBirthday">
                    <h3>@ViewData[ "ChangeBirthday" ]</h3>
                    <form class="formUserPage" asp-controller="User" asp-action="ChangeBirthday" method="post">
                        <div>
                            <label asp-for="birthday">@ViewData[ "ChangeBirthday" ]:</label>
                            <input asp-for="birthday" type="date" />
                        </div>
                        <button type="submit" class="mainButton">@ViewData[ "ChangeButton" ]</button>
                    </form>
                </div>
                <div class="changePassword">
                    <h3>@ViewData[ "ChangePassword" ]</h3>
                    <form class="formUserPage" asp-controller="User" asp-action="ChangePassword" method="post" enctype="multipart/form class=" formUserPage"-data">
                        <div>
                            <label asp-for="oldPassword" class="required">@ViewData[ "OldPassword" ]:</label>
                            <input asp-for="oldPassword" placeholder="@ViewData[ "OldPassword" ]" type="password" />
                        </div>
                        <div>
                            <label asp-for="newPassword" class="required">@ViewData[ "NewPassword" ]:</label>
                            <input asp-for="newPassword" placeholder="@ViewData[ "NewPassword" ]" type="password" />
                        </div>
                        <div>
                            <label asp-for="confirmPassword" class="required">@ViewData[ "RepeatPassword" ]:</label>
                            <input asp-for="confirmPassword" placeholder="@ViewData[ "RepeatPassword" ]" type="password" required />
                        </div>
                        <button type="submit" class="mainButton">@ViewData[ "ChangeButton" ]</button>
                    </form>
                </div>
            </section>
            <section class="thirdRow">
                <div class="deleteUser">
                    <h3>@ViewData[ "DeleteUser" ]</h3>
                    <div>
                        @*<a asp-controller="User" asp-action="DeleteUser">
                        @ViewData[ "DeleteUser" ]
                        </a>*@
                        <a id="deleteAction" class="delete-action" onclick="deleteUserModal('User')">
                            @ViewData[ "DeleteUser" ]
                        </a>

                        <div id="confirmationModal" class="modal2">
                            <div class="modal-content">
                                <h2>@ViewData[ "ModalTitle" ]</h2>
                                <p>@ViewData[ "ModalText" ]</p>
                                <div class="modal-actions">
                                    <button id="confirmBtn" asp-controller="User" asp-action="DeleteUser">@ViewData[ "ModalButtonDelete" ]</button>

                                    <button id="cancelBtn">@ViewData[ "ModalButtonCancelar" ]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


        </section>
    </div>
</main>

<partial name="_Footer" />