@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Article";
}

<main class="home-section">
    <div class="text">
        <h1>Article</h1>

        <h3>@ViewData[ "Description" ]</h3>

        <section class="filter">
            <h4>@ViewData[ "FilterTitle" ]:</h4>
            <form asp-controller="AdminArticle" asp-action="Articles" method="post">
                @if ( Model.articleList?.Count > 0 )
                {
                    <div>
                        <select id="orderBy" name="orderBy">
                            <option value="id">@ViewData[ "fOrderBy" ]</option>
                            <option value="id">@ViewData[ "tId" ]</option>
                            <option value="headline">@ViewData[ "tHeadline" ]</option>
                            <option value="idAuthor">@ViewData[ "tIdAuthor" ]</option>
                            <option value="author">@ViewData[ "tAuthor" ]</option>
                            <option value="createdDate">@ViewData[ "tCreatedDate" ]</option>
                        </select>
                    </div>
                }
                <div>
                    <div class="input-group">
                        <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="number" id="id" name="id"  placeholder="@ViewData[ "fSearchId" ]">
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" id="headline" name="headline"  placeholder="@ViewData[ "fSearchHeadline" ]">
                    </div>
                </div>
                @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
                {
                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="author" name="author"  placeholder="@ViewData[ "fSearchAuthor" ]">
                        </div>
                    </div>
                }
                <div>
                    <select class="normalSelect" onchange="selectColor(this)" id="isPublished" name="isPublished">
                        <option class="normalSelect" value="">@ViewData[ "fSearchIsPublished" ]</option>
                        <option class="greenSelect" value="1">&#xf058;</option>
                        <option class="redSelect" value="0">&#xf057;</option>
                    </select>
                </div>
                <div>
                    <div class="input-group">
                        <select name="language" id="language">
                            <option value="">@ViewData[ "fSearchLanguage" ]</option>
                            <option value="ENG">ENG</option>
                            <option value="ESP">ESP</option>
                        </select>
                    </div>
                </div>

                <div>
                    <input class="filtButton" type="submit" value="@ViewData[ "ButtonFilter" ]">
                </div>


            </form>
        </section>

        <section class="create">
            <a asp-action="CreateForm" asp-controller="AdminArticle">
                <i class="fa-solid fa-plus"></i>
                <span>@ViewData[ "ButtonNew" ]</span>
            </a>
        </section>

        <section class="adminTable">
            @if ( Model.articleList?.Count > 0 )
            {
                <table>
                    <tr>
                        <th>@ViewData[ "Actions" ]</th>
                        <th>@ViewData[ "tPreview" ]</th>
                        <th>@ViewData[ "tId" ]</th>
                        <th>@ViewData[ "tHeadline" ]</th>
                        <th>@ViewData[ "tSummary" ]</th>
                        <th>@ViewData[ "tBody" ]</th>
                        <th>@ViewData[ "tCover" ]</th>
                        <th>@ViewData[ "tIsPublished" ]</th>
                        <th>@ViewData[ "tCreatedDate" ]</th>
                        <th>@ViewData[ "tUpdatedDate" ]</th>
                        <th>@ViewData[ "tIdAuthor" ]</th>
                        <th>@ViewData[ "tAuthor" ]</th>
                        <th>@ViewData[ "tCanPublish" ]</th>
                        <th>@ViewData[ "tLanguage" ]</th>
                        <th>@ViewData[ "tGamesList" ]</th>
                    </tr>
                    @foreach ( var item in Model.articleList )
                    {
                        <tr>
                            <td>
                                <!-- Delete Article -->
                                <a id="deleteAction_@item.id" class="delete-action" onclick="deleteModal('@item.id', 'AdminArticle')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>

                                <!-- Edit Article -->
                                <a asp-controller="AdminArticle" asp-action="UpdateForm" asp-route-id="@item.id">
                                    <i class="fa-solid fa-pen"></i>
                                </a>

                                <!-- Modal -->
                                <div id="confirmationModal_@item.id" class="modal">
                                    <div class="modal-content">
                                        <h2>@ViewData[ "ModalTitle" ]</h2>
                                        <p>@ViewData[ "ModalText" ]: @item.id?</p>
                                        <div class="modal-actions">
                                            <button id="confirmBtn_@item.id" asp-controller="AdminArticle" asp-action="Delete" asp-route-id="@item.id">@ViewData[ "ModalButtonDelete" ]</button>

                                            <button id="cancelBtn_@item.id">@ViewData[ "ModalButtonCancelar" ]</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a asp-controller="AdminArticle" asp-action="Preview" asp-route-id="@item.id">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                            <td>@item.id</td>
                            <td>@Html.Raw(item.headline)</td>
                            <td>...</td>
                            <td>...</td>
                            <td><img class="image-cell" src="@item.cover" alt="cover"></td>
                            <td>
                                @if ( item.isPublished )
                                {
                                    <i class="far fa-circle-check checkmark-icon"></i>
                                }
                                else if ( !item.isPublished )
                                {
                                    <i class="far fa-circle-xmark xmark-icon"></i>
                                }
                            </td>
                            <td>@item.createdDate</td>
                            <td>@item.updatedDate</td>
                            <td>@item.idAuthor</td>
                            <td>@item.author</td>
                            <td>
                                @if ( item.authorCanPublish == true )
                                {
                                    <i class="far fa-circle-check checkmark-icon"></i>
                                }
                                else if ( item.authorCanPublish == false )
                                {
                                    <i class="far fa-circle-xmark xmark-icon"></i>
                                }
                            </td>
                            <td>
                                @if ( item.language == "ENG" )
                                {
                                    <span class="fi fi-gb fis"></span>
                                }
                                else if ( item.language == "ESP" )
                                {
                                    <span class="fi fi-es fis"></span>
                                }
                            </td>
                            <td>
                                <a asp-controller="AdminGame" asp-action="Games" asp-route-idArticle="@item.id">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h4>@ViewData[ "NoData" ]</h4>
            }
        </section>

        <section class="pagination">
            <div>
                @if ( Model.CurrentPage > 1 )
                {
                    <!-- Previous Page -->
                    <a asp-controller="AdminArticle" asp-action="Articles"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-language="@ViewBag.FormData.language"
                   asp-route-idAuthor="@ViewBag.FormData.author"
                   asp-route-idGame="@ViewBag.FormData.idGame"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-headline="@ViewBag.FormData.headline"
                   asp-route-isPublished="@ViewBag.FormData.isPublished"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                        @ViewData[ "ButtonPrevious" ]
                    </a>
                }

                @if ( Model.CurrentPage < Math.Ceiling( (double) Model.TotalItems / Model.PageSize ) )
                {
                    <!-- Next Page -->
                    <a asp-controller="AdminArticle" asp-action="Articles"
                   asp-route-page="@(Model.CurrentPage + 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-language="@ViewBag.FormData.language"
                   asp-route-idAuthor="@ViewBag.FormData.author"
                   asp-route-idGame="@ViewBag.FormData.idGame"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-headline="@ViewBag.FormData.headline"
                   asp-route-isPublished="@ViewBag.FormData.isPublished"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                        @ViewData[ "ButtonNext" ]
                    </a>
                }
            </div>
            <div>
                <p>
                    @ViewData[ "Page" ] @Model.CurrentPage @ViewData[ "Of" ] @Math.Ceiling((double)Model.TotalItems / Model.PageSize) (@Model.articleList?.Count @ViewData[ "OutOf" ] @Model.TotalItems)
                </p>
            </div>
        </section>

    </div>
</main>