@model Support.UpdateArticleModel

@{
    ViewData[ "Title" ] = "Admin - Update Article";
}


<main class="home-section">
    <div class="text">
        <h1>Article</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        <section class="Createform">
            <form asp-controller="AdminArticle" asp-action="Update" method="post" enctype="multipart/form-data">
                <partial name="_Error" />

                <div>
                    <div>
                        <label asp-for="id">@ViewData[ "fId" ]:</label>
                        <input asp-for="id" placeholder="@ViewData[ "fId" ]" readonly />
                    </div>
                </div>

                <div>
                    <div>
                        <label asp-for="author">@ViewData[ "fAuthor" ]:</label>
                        <input asp-for="author" placeholder="@ViewData[ "fAuthor" ]" readonly />
                    </div>
                </div>

                <div>
                    <div>
                        <label asp-for="headline">@ViewData[ "fHeadline" ]:</label>
                        <input asp-for="headline" placeholder="@ViewData[ "fHeadline" ]" />
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="summary">@ViewData[ "fSummary" ]:</label>
                        <textarea asp-for="summary" id="mytextarea"></textarea>
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="body">@ViewData[ "fBody" ]:</label>
                        <textarea asp-for="body" id="mytextarea"></textarea>
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="cover">@ViewData[ "fCover" ]:</label>
                        <input asp-for="cover" type="file" />
                    </div>
                </div>
                @if ( ViewData[ "AdminCanPublish" ].ToString() == "True" )
                {
                    if (Model.isPublished)
                    {
                        <div>
                            <div>
                                <label asp-for="isPublished">@ViewData[ "fPublished" ]:</label>
                                <select class="greenSelect" onchange="selectColor(this)" asp-for="isPublished">
                                    <option class="redSelect" value="false">&#xf057;</option>
                                    <option class="greenSelect" value="true">&#xf058;</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div>
                                <label asp-for="isPublished">@ViewData[ "fPublished" ]:</label>
                                <select class="redSelect" onchange="selectColor(this)" asp-for="isPublished">
                                    <option class="redSelect" value="false">&#xf057;</option>
                                    <option class="greenSelect" value="true">&#xf058;</option>
                                </select>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <div>
                            <label asp-for="isPublished">@ViewData[ "fPublished" ]:</label>
                            <input asp-for="isPublished" value="false" readonly hidden />
                        </div>
                    </div>
                }

                <div>
                    <div>
                        <label asp-for="createdDate">@ViewData[ "fCreatedDate" ]:</label>
                        <input asp-for="createdDate" readonly />
                    </div>
                </div>

                <div>
                    <div>
                        <label asp-for="language">@ViewData[ "fLanguage" ]:</label>
                        <select asp-for="language">
                            <option value="ENG">English</option>
                            <option value="ESP">Español</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="idGameList">@ViewData[ "fGamesList" ]:</label>
                        <select asp-for="idGameList" class="select2SingleForm" multiple="multiple">
                            @foreach ( var item in Model.gameList )
                            {
                                <option value="@item.id">@item.title @item.subtitle @item.platform @item.language</option>
                            }
                        </select>
                    </div>
                </div>

                <div>
                    <div>
                        <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                    </div>
                </div>

            </form>
        </section>

    </div>
</main>