@model Support.UpdateArticleModel

@{
    ViewData[ "Title" ] = "Admin - Update Article";
}


<main class="home-section">
    <div class="text">
        <h1>Article</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="Createform">
                <form asp-controller="AdminArticle" asp-action="Update" method="post" enctype="multipart/form-data">
                    <partial name="_Error" />

                    <div>
                        <div>
                            <label asp-for="id">ID:</label>
                            <input asp-for="id" placeholder="id" readonly />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="author" >Author:</label>
                            <input asp-for="author" placeholder="Author" readonly />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="headline" >Headline:</label>
                            <input asp-for="headline" placeholder="Headline" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="summary">Summary:</label>
                            <textarea asp-for="summary" id="mytextarea"></textarea>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="body">Body:</label>
                            <textarea asp-for="body" id="mytextarea"></textarea>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="cover">Cover:</label>
                            <input asp-for="cover" type="file" />
                        </div>
                    </div>
                    @if ( ViewData[ "AdminCanPublish" ].ToString() == "True" )
                    {
                        <div>
                            <div>
                                <label asp-for="isPublished">Publish:</label>
                                <select class="redSelect" onchange="selectColor(this)" asp-for="isPublished" required>
                                    <option class="redSelect" value="false">&#xf057;</option>
                                    <option class="greenSelect" value="true">&#xf058;</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div>
                                <label asp-for="isPublished">Publish:</label>
                                <input asp-for="isPublished" readonly />
                            </div>
                        </div>
                    }

                    <div>
                        <div>
                            <label asp-for="createdDate">Created Date:</label>
                            <input asp-for="createdDate" readonly />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="language">Language:</label>
                            <select asp-for="language" required>
                                <option value="ENG">English</option>
                                <option value="ESP">Español</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="idGameList">Games:</label>
                            <select asp-for="idGameList" class="select2SingleForm" required multiple="multiple">
                                @foreach ( var item in Model.gameList )
                                {
                                    <option value="@item.id">@item.title @item.subtitle @item.platform</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                        </div>
                    </div>

                </form>
            </section>
        }

    </div>
</main>