@model Support.UpdateDevPublisherModel

@{
    ViewData[ "Title" ] = "Admin - Update Publisher";
}


<main class="home-section">
    <div class="text">
        <h1>Publisher</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="Createform">
                <form asp-controller="AdminPublisher" asp-action="Update" method="post" enctype="multipart/form-data">
                    <partial name="_Error" />

                    <div>
                        <div>
                            <label asp-for="id">@ViewData[ "fId" ]:</label>
                            <input asp-for="id" placeholder="@ViewData[ "fId" ]" readonly />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="name">@ViewData[ "fName" ]:</label>
                            <input asp-for="name" placeholder="@ViewData[ "fName" ]" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                        </div>
                    </div>

                </form>
            </section>
        }

    </div>
</main>