@model Support.ModelList
@{
    ViewData[ "Title" ] = "Admin - Languages for Web";
}

<main class="home-section">
    <div class="text">
        <h1>Languages for the Web</h1>

        <h3>@ViewData[ "Description" ]</h3>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="filter">
                <h4>@ViewData[ "FilterTitle" ]:</h4>
                <form asp-controller="WebLanguage" asp-action="WebLanguages" method="post">
                    @if ( Model.webLanguageList?.Count > 0 )
                    {
                        <div>
                            <select id="orderBy" name="orderBy">
                                <option value="">@ViewData[ "fOrderBy" ]</option>
                                @foreach ( var prop in Model.webLanguageList.First().GetType().GetProperties() )
                                {
                                    <option value="@prop.Name">@prop.Name</option>
                                }
                            </select>
                        </div>
                    }
                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="id" name="id" pattern="[\p{L} '-.]+" placeholder="@ViewData[ "fSearchId" ]">
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <span class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="name" name="name" pattern="[\p{L} '-.]+" placeholder="@ViewData[ "fSearchName" ]">
                        </div>
                    </div>

                    <div>
                        <input class="filtButton" type="submit" value="@ViewData[ "ButtonFilter" ]">
                    </div>


                </form>
            </section>

            <section class="create">
                <a asp-action="CreateForm" asp-controller="WebLanguage">
                    <i class="fa-solid fa-plus"></i>
                    <span>@ViewData[ "ButtonNew" ]</span>
                </a>
            </section>

            <section class="adminTable">
                @if ( Model.webLanguageList?.Count > 0 )
                {
                    <table>
                        <tr>
                            <th>@ViewData[ "Actions" ]</th>
                            @foreach ( var prop in Model.webLanguageList.First().GetType().GetProperties() )
                            {
                                // Exclude "Password" column from table
                                if ( prop.Name.ToLower() != "password" && prop.Name.ToLower() != "newpassword" && prop.Name.ToLower() != "confirmpassword" )
                                {
                                    <th>@prop.Name</th>
                                }
                            }
                        </tr>
                        @foreach ( var item in Model.webLanguageList )
                        {
                            <tr>
                                <td>

                                    <!-- Edit WebLanguage -->
                                    <a asp-controller="WebLanguage" asp-action="UpdateForm" asp-route-id="@item.id">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                </td>
                                @foreach ( var prop in item.GetType().GetProperties() )
                                {
                                    // Exclude "Password" column from table
                                    if ( prop.Name.ToLower() != "icon" )
                                    {
                                        <td>
                                            @prop.GetValue(item)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.Raw(prop.GetValue(item))
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <h4>@ViewData[ "NoData" ]</h4>
                }
            </section>

            <section class="pagination">
                <div>
                    @if ( Model.CurrentPage > 1 )
                    {
                        <!-- Previous Page -->
                        <a asp-controller="WebLanguage" asp-action="WebLanguages"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-name="@ViewBag.FormData.name"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                            @ViewData[ "ButtonPrevious" ]
                        </a>
                    }

                    @if ( Model.CurrentPage < Math.Ceiling( (double) Model.TotalItems / Model.PageSize ) )
                    {
                        <!-- Next Page -->
                        <a asp-controller="WebLanguage" asp-action="WebLanguages"
                   asp-route-page="@(Model.CurrentPage + 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-id="@ViewBag.FormData.id"
                   asp-route-name="@ViewBag.FormData.name"
                   asp-route-orderBy="@ViewBag.FormData.orderBy">
                            @ViewData[ "ButtonNext" ]
                        </a>
                    }
                </div>
                <div>
                    <p>
                        @ViewData[ "Page" ] @Model.CurrentPage @ViewData[ "Of" ] @Math.Ceiling((double)Model.TotalItems / Model.PageSize) (@Model.webLanguageList?.Count @ViewData[ "OutOf" ] @Model.TotalItems)
                    </p>
                </div>
            </section>
        }

    </div>
</main>