@model Support.UpdateWebTextModel

@{
    ViewData[ "Title" ] = "Admin - Update Text for the web";
}

<main class="home-section">
    <div class="text">
        <h1>Text for the Web</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="Createform">
                <form asp-controller="WebText" asp-action="Update" method="post" enctype="multipart/form-data">
                    <partial name="_Error" />

                    <div>
                        <div>
                            <label asp-for="id">@ViewData[ "fId" ]:</label>
                            <input asp-for="id" placeholder="@ViewData[ "fId" ]" readonly />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="title" class="required">@ViewData[ "fTitle" ]:</label>
                            <input required asp-for="title" placeholder="@ViewData[ "fTitle" ]" />
                        </div>
                        <div>
                            <label asp-for="text" class="required">@ViewData[ "fText" ]:</label>
                            <input required asp-for="text" placeholder="@ViewData[ "fText" ]" />
                        </div>
                        <div>
                            <label asp-for="idCategory" class="required">@ViewData[ "fCategory" ]:</label>
                            <select asp-for="idCategory" class="select2SingleForm" required>
                                @foreach ( var item in Model.categoryList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label asp-for="language" class="required">@ViewData[ "fLanguage" ]:</label>
                            <select asp-for="language" required>
                                <option value="ENG">English</option>
                                <option value="ESP">Español</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                        </div>
                    </div>

                </form>
            </section>
        }

    </div>
</main>