@model Support.UpdateGameModel

@{
    ViewData[ "Title" ] = "Admin - Update Game";
}


<main class="home-section">
    <div class="text">
        <h1>Game</h1>
        <h2>@ViewData[ "TitleUpdate" ]</h2>

        @if ( ViewData[ "AdminType" ].ToString() == "Admin" )
        {
            <section class="Createform">
                <form asp-controller="AdminGame" asp-action="Update" method="post" enctype="multipart/form-data">
                    <partial name="_Error" />

                    <div>
                        <div>
                            <label asp-for="id">ID:</label>
                            <input asp-for="id" placeholder="id" readonly/>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="title">Title:</label>
                            <input asp-for="title" placeholder="Title" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="subtitle">Subtitle:</label>
                            <input asp-for="subtitle" placeholder="Subtitle" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="description">Description:</label>
                            <textarea asp-for="description" id="mytextarea"></textarea>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="language">Language:</label>
                            <select asp-for="language">
                                <option value="ENG">English</option>
                                <option value="ESP">Español</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="cover">Cover:</label>
                            <input asp-for="cover" type="file" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <label asp-for="releaseDate">Release Date:</label>
                            <input asp-for="releaseDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="totalScore">Total Score:</label>
                            <input asp-for="totalScore" type="number" readonly />
                        </div>
                    </div>
                    <div>
                        <div>
                            <input asp-for="isFav" type="text" value="false" readonly hidden />
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="idDev">Developer:</label>
                            <select asp-for="idDev" class="select2SingleForm">
                                @foreach ( var item in Model.devList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="idPublisher">Publisher:</label>
                            <select asp-for="idPublisher" class="select2SingleForm">
                                @foreach ( var item in Model.publisherList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="idPlatform">Platform:</label>
                            <select asp-for="idPlatform" class="select2SingleForm">
                                @foreach ( var item in Model.platformList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div>
                        <div>
                            <label asp-for="idGenre">Genres:</label>
                            <select asp-for="idGenre" class="select2SingleForm" multiple="multiple">
                                @foreach ( var item in Model.genreList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="idPlayerType">Player Types:</label>
                            <select asp-for="idPlayerType" class="select2SingleForm" multiple="multiple">
                                @foreach ( var item in Model.playerTypeList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label asp-for="idLanguageGame">Game Languages:</label>
                            <select asp-for="idLanguageGame" class="select2SingleForm" multiple="multiple">
                                @foreach ( var item in Model.languageGameList )
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <button type="submit" class="mainButton">@ViewData[ "ButtonUpdate" ]</button>
                        </div>
                    </div>

                </form>
            </section>
        }

    </div>
</main>