@model Support.ModelList
@{
    ViewData["Title"] = "Home Page";
}

<!-- Render a partial view called "_MyPartial.cshtml" in the Views/Partials folder -->
<partial name="_LateralMenu" />

<main class="home-section">
    <div class="text">
        <h1>Platform</h1>
        @foreach ( var item in Model.platformList )
        {
            <h2>@item.id : @item.name</h2>

        }

        <hr />

        <h1>Author</h1>
        @foreach ( var item in Model.authorList )
        {
            <h2>@item.id : @item.name : Publish= @item.canPublish : Active= @item.isActive : Admin= @item.isAdmin</h2>

        }
    </div>
</main>
